*{
margin: 0;
padding: 0;
front-family: "montserrat",sans-serif;
}
body{
height: 100vh;
background: linear-gradient(0deg,#3498db 50%,#fff 0%);
display: flex;
justify-content: center;
align-items: center;
}

.floating-text{
text-transform: uppercase;
front-size: 80px;
front-weight: 900;
letter_spacing: 6px;
color: #ffffff40;
transform: translateY(0);
animation: f1 3s infinite linear;
}

.floating-text{
content: attr(data-text);
position: absolute;
color: #000;
clip-path: polygon(0 0,100% 0, 100% 50%,0 50%);
animation: f1 3s infinite linear;
}

@keyframe f11{
30%{
transform: translateY(10%) rotate(4 deg)
}
70%{
transform: translateY(10%) rotate(-4 deg)
}
}

@keyframe f12{
30%{
clip-path: polygon(0 0,100% 0, 100% 24%,0 56%);
}
70%{
clip-path: polygon(0 0,100% 0, 100% 56%,0 24%);
}
}